/* ========================================= 
              LOGIN START 
===========================================*/
.section-wrap .checklist{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0 20px;
}
.section-wrap .forgot-password {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}
/* CHECKBOX  */
.section-wrap .checkbox-wrap {
    display: flex;
    align-items: center;
}
.section-wrap .checkbox-wrap>input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;    
    accent-color: #C6521E;
}
.section-wrap label {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    padding-left: 6px;
}
/* ========================================= 
              LOGIN END 
===========================================*/

